.bar {
  transition: transform 218ms cubic-bezier(0.4, 0, 0.2, 1);
  left: 0;
  right: 0 !important;
  position: fixed !important;
}

.bar-expanded {
  composes: bar;
  /*left: 255px !important;*/
  transform: translateX(255px);
}

.content {
  transition: padding-left 218ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-right: 20px !important;
  padding-top: 64px !important;
  padding-left: 20px;
}

.content-expanded {
  composes: content;
  padding-left: 275px;
}

.drawer {
  width: 255px
}

.drawer-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 8px;
  min-height: 64px;
}