@import '../../shared/forms.css';

.container {
  width: 400px;
  position: absolute;
  top: 50%;
  left:  50%;
  transform: translate(-50%, -50%);
  padding:  15px;
  border-radius: 4px;
}

.title { composes: title from '../../shared/forms.css'; }
.label { composes: label from '../../shared/forms.css'; }
.submit { composes: submit from '../../shared/forms.css'; }